<% if @user.errors.any? %>
<div id="error_messages">
    <div>
        The form contains <%= pluralize(@user.errors.count, "error") %>
    </div>
    
    <div>
        <ul>
        <% @user.errors.messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>        
    </div>
</div>

<% end %>