<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <%= link_to root_path, :target => "_blank" do %>
            <%= image_tag asset_path("rmitlogo.jpg") %>
          <% end %>
            <%= link_to "Home", root_path %>
            <%= link_to "Comments", pages_comment_path %>
            <%= link_to "Submit", pages_submit_path %>
            <%= link_to "Login", pages_login_path %>
        </nav>
      </div>
    </header> 
    
    <footer>
      <%= link_to "API", "https://github.com/pigfly/RMIT-CSIT-RAD/tree/master/2018_S1/assignment2" %>
      <%= link_to "About", pages_about_path %>
    </footer>
    
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
