<% @page_title = "Login/Signup" %>
<div class="Sign_Form">
  <h1>Sign Up</h1>
  <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
    <%= f.label :username%>
    <%= f.text_field :username, class: 'form-control'%> <br>
    
    <%= f.label :password%>
    <%= f.password_field :password%> <br>
    
    <%= f.submit :Signup %> <br>
  <% end %>
  
  <h1>Login</h1>
  <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username%> <br>
    
    <%= f.label :password %>
    <%= f.password_field :password%> <br>
    
    <%= f.submit :Login %> <br>
  <% end %>
</div>