<% @page_title = "Submit a News" %>
<%= text_area(:comment, :text, cols: 40, rows: 20, required: true, minlength: 10, maxlength: 200)%><br>

<%= label_tag "News Source" %>
<%= text_field_tag 'source' %>
